<div class="search-bar col-sm-8">
  <div class="input-group">
<!--     <input type="text" class="form-control" placeholder="Search for quizzes..." (keypress)="searchLetters($event, searchInput.value)" #searchInput [disabled]="!currentRouteIsMail"> -->
    <input type="text" class="form-control" placeholder="Search for quizzes...">
    <span class="input-group-btn">
<!--       <button class="btn btn-main" type="button" (click)="searchLetters($event, searchInput.value)" [disabled]="!currentRouteIsMail"> -->
      <button class="btn btn-main" type="button">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>
</div>
