.img-circle {
  width: 32px;
}

button.btn-img {
  border: none;
  background: transparent;
  outline: none;
}

.btn-group.open .dropdown-menu {
  margin-left: -100px;
}

.btn-group.open li {
  margin-left: 0;
}
