<div class="content" *ngIf="!authorised">
  <div class="form-cover">
    <h3>Sign in:</h3>
    <!--<h3><small>(hint: enter equal values for name & pass)</small></h3>-->
    <form class="login col-sm-4-" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <label>Login:</label>
        <input
          class="nick"
          placeholder="Your login"
          formControlName="nick"
          (input)="onInput()"
          (keydown)="onKeydown($event, passfield)"
          autofocus
        >

        <label>Password:</label>
        <input
          class="pass"
          placeholder="Your password"
          type="password"
          formControlName="pass"
          (input)="onInput()"
          #passfield
        >

        <button type="submit" [disabled]="!loginForm.valid">Login</button>

        <a routerLink="/signup">or sign up</a>
      </fieldset>
    </form>
  </div>
  <div class="err bg-danger" *ngIf="!!invalidAttemptCount">The pair of Name and Passwword is invalid!</div>
</div>
